{% extends "base.html" %}
{% block title %}Ban Pick Page{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="banpick_header">Dota II Ban Pick Analyser</h1>
	</div>
</div>
{% if banpick_phase == 0 %}
	<div class="row">
		<div class="col-md-4 col-md-offset-4 how_bp_work">
			<a>How this work ?</a>
		</div>
	</div>
{% endif %}

{% include "banpick_form.html" %}
{% if banpick_phase >= 1 %}
	<div class="row bp-list-row">
		<div class="col-md-3 bp-list-col">
			<h4>Radiant Ban</h4>
			{% for url in radiant_ban_image %}
				<div class="row"><img src="{{ url }}"></div>
			{% endfor %}
		</div>
		<div class="col-md-3 bp-list-col">
			<h4>Radiant Pick</h4>
			{% for url in radiant_pick_image %}
				<div class="row"><img src="{{ url }}"></div>
			{% endfor %}
		</div>
		<div class="col-md-3 bp-list-col">
			<h4>Dire Pick</h4>
			{% for url in dire_pick_image %}
				<div class="row"><img src="{{ url }}"></div>
			{% endfor %}
		</div>
		<div class="col-md-3 bp-list-col">
			<h4>Dire Ban</h4>
			{% for url in dire_ban_image %}
				<div class="row"><img src="{{ url }}"></div>
			{% endfor %}
		</div>
	</div>
	
	
	
	
{% endif %}


{% endblock %}

{% block javascript %}
<script type="text/javascript">
$("select").imagepicker()
</script>
{% endblock %}

{% block CSS %}
.banpick_header
{
	text-align:center;
}
.how_bp_work
{
	text-align:center;
}
.choose-side-row{
	margin-top:30px;
}
.side-radio
{
	text-align:center;
}
.submit-col
{
	text-align:center;	
}
.bp-list-row
{
	text-align:center;
}
.turn-row
{
	text-align:center;
}
.result-row
{
	text-align:center;
}
.turn-h3
{
	margin:0px;
}
{% endblock %}
