<html>
{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block CSS %}
.homepage-left{
	text-align:center;
	font-family:Audiowide;
}
.homepage-right
{
	text-align:center;
	font-family:Audiowide;
}
.homepage-right-row
{
	margin-top: 60px;
}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6 homepage-left">
		<img src="/static/img/logo.png">
		<h1 >Simulating draft !</h1>
		<h1 >Follow latest news !</h1>
		<h1 >See Who's streaming !</h1>		
	</div>
	<div class="col-md-6 homepage-right">
		<div class="row homepage-right-row">
			<h1 class="bp_header">Dota II Ban Pick Analyser</h1>
		</div>
		<div class="row">
			<p>Tons of high level match history as training data !</p>
			<p>Amazing algorithm with about 80% accuracy !</p>
			<p>Help you to improve your drafting skill and evaluate line up !</p>
		</div>
		<div class="row">
			<a href="/banpick/"><button type="button" class="btn btn-default">Try It Now</button></a>
		</div>	
		<div class="row homepage-right-row">
			<h1 class="bp_header">Hot Dota2 Streaming</h1>
		</div>
		<div class="row">
			<p>Watch famous player streaming !</p>
			<p>Watch professional games with caster !</p>			
		</div>
		<div class="row">
			<a href="/live/"><button type="button" class="btn btn-default">Watch Now</button></a>
		</div>	
	</div>
</div>
{% endblock %}
</html>