container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: mysite/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: mysite.settings
  - option_name: AWS_SECRET_KEY
    value: iExmYyR9gf78xy9E2pSpsp4SwoaFy0G2Id9I8kdd
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAJ674XWVRETYFZITA