<html>
{% extends "base.html" %}
{% block title %}Live streaming{% endblock %}

{% block CSS %}
.live_header
{
    text-align:center;
    margin-bottom:20px;
    font-family:Audiowide;
}
.panel-live
{
    text-align:center;
}
.h3-live
{
    margin:0;
    font-family:Audiowide;
    overflow: hidden;
}
.p-live
{
    margin-bottom:0;
}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="live_header">Twitch Dota2 Live Streaming</h1>
    </div>
</div>
<div class="row-fluid">
    {% for liveinfo in lives %}
        <div class="col-md-4">
        <div class="panel panel-default panel-live">
            <div class="panel-heading">
                <a href= "/live/{{ liveinfo.name}}/"><h3 class="h3-live">{{ liveinfo.display }}</h3></a>
                <p class="p-live">viewers: {{ liveinfo.viewers }}</p>             
            </div>
            <div class="panel-body">
                <a href= "/live/{{ liveinfo.name}}/"><img src={{ liveinfo.pic }}  /></a>
            </div>
        </div>           		
        </div>
	{% endfor %}
</div> 
    
{% endblock %}
</html>